<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pagetitle }}</title>
    <style>
        body{
            padding : 1.5em;
            background : #f8f8f8;
            font-family : sans-serif;
            line-height : 1.5;
        }
    </style>
</head>
<body>
<ul>
    {% for thing in things %}
    <li>{{ thing.pagetitle }}: <a href="./{{ thing.filename }}">{{ thing.filename }}</a> </li>
    {% endfor %}
</ul>
</body>
</html>