<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>
        {{ pagetitle }}
    </title>
    <!--
        WARNING: This should not be used as a reference on how to do things, I have utterly no idea what I'm doing here!
    -->
    <style>


        /* Thanks so much to Stephen Morley for his code: http://code.stephenmorley.org/html-and-css/tabbed-panels/ */
        body{
            padding : 1.5em;
            background : #f8f8f8;
            font-family : sans-serif;
            line-height : 1.5;
        }

        .tabbed{
            float : left;
            width : 100%;
        }

        .tabbed > input{
            display : none;
        }

        .tabbed > section > h1{
            float : left;
            box-sizing : border-box;
            margin : 0;
            padding : 0.5em 0.5em 0;
            overflow : hidden;
            font-size : 1em;
            font-weight : normal;
        }

        .tabbed > input:first-child + section > h1{
            padding-left : 1em;
        }

        .tabbed > section > h1 > label{
            display : block;
            padding : 0.25em 0.75em;
            border : 1px solid #ddd;
            border-bottom : none;
            border-top-left-radius : 4px;
            border-top-right-radius : 4px;
            box-shadow : 0 0 0.5em rgba(0,0,0,0.0625);
            background : #fff;
            cursor : pointer;
            -moz-user-select : none;
            -ms-user-select : none;
            -webkit-user-select : none;
        }

        .tabbed > section > div{
            position : relative;
            z-index : 1;
            float : right;
            box-sizing : border-box;
            width : 100%;
            margin : 2.5em 0 0 -100%;
            padding : 0.5em 0.75em;
            border : 1px solid #ddd;
            border-radius : 4px;
            box-shadow : 0 0 0.5em rgba(0,0,0,0.0625);
            background : #fff;
        }

        .tabbed > input:checked + section > h1{
            position : relative;
            z-index : 2;
        }

        .tabbed > input:not(:checked) + section > div{
            display : none;
        }

        table {
            width: 100%;
        }

        .subheading {
            font-weight: bold;
            font-size: 120%;
            background-color: #010101;
            color: #ededed;
        }
    </style>
    <script>
        function copyToClipboardFromDiv(qselector) {
              /*
               * Thanks to https://stackoverflow.com/a/38672314 by
               * the glorious user https://stackoverflow.com/users/2529834/hani
               */
              // creating new textarea element and giving it id 't'
              let t = document.createElement('textarea')
              t.id = 't'
              // Optional step to make less noise in the page, if any!
              t.style.height = 0
              // You have to append it to your page somewhere, I chose <body>
              document.body.appendChild(t)
              // Copy whatever is in your div to our new textarea
              t.value = document.getElementById(qselector).innerText.replace(/\\n/g, '\n')
              // Now copy whatever inside the textarea to clipboard
              let selector = document.querySelector('#t')
              selector.select()
              document.execCommand('copy')
              // Remove the textarea
              document.body.removeChild(t)
        }


        function staticCopy(qgroupselector, chance) {
            /*
             * Choose (and call for copy of) the element with the same id as the qselector parameter.
             */
            copyToClipboardFromDiv(qgroupselector + chance)
            if (document.getElementById(qgroupselector + "checkbox")) {
                document.getElementById(qgroupselector + "checkbox").checked = true;
            }
        }

    </script>
</head>
<body>

<div class="tabbed">
    {% for tab in bundle.tabs %}
    {% set tab_loop = loop %}
    {% if loop.first %}
    <input name="tabbed" id="tab{{ loop.index0 }}" type="radio" checked>
    {% else %}
    <input name="tabbed" id="tab{{ loop.index0 }}" type="radio">
    {% endif%}
    <section>
        <h1>
            <label for="tab{{ loop.index0 }}">{{ tab.name }}</label>
        </h1>
        <div>
            <table>
                <tr>
                    <th>[x]</th>
                    <th>Text</th>
                    <th>Action</th>
                </tr>
                {% for message in tab.messages %}
                {% set message_loop = loop %}
                <tr style="{{ loop.cycle('background-color: #e8e8e8;', '') }}">
                    {% if message.is_subheading %}
                    <td colspan="3" class="subheading">
                        {{ message.title }}
                    </td>
                    {% else %}
                    {% if message.checkbox %}
                    <td><input type="checkbox" id="tab{{ tab_loop.index0 }}message{{ loop.index0 }}checkbox"></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>
                        {% for chance in message.text %}
                        {% if loop.first %}
                        <div id="tab{{ tab_loop.index0 }}message{{ message_loop.index0 }}chance{{ loop.index0 }}"
                             class="tab{{ tab_loop.index0 }}message{{ message_loop.index0 }}">{{ chance }}</div>
                        {% else %}
                        <div id="tab{{ tab_loop.index0 }}message{{ message_loop.index0 }}chance{{ loop.index0 }}"
                             class="tab{{ tab_loop.index0 }}message{{ message_loop.index0 }}" style="display: none">{{ chance }}</div>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td  style="display: inline-flex">
                        {% if message.text != None and message.text != []  %}
                        <button onclick="staticCopy('tab{{ tab_loop.index0 }}message{{ loop.index0 }}', 'chance0')">Copy</button>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    {% endfor %}
</div>

    <script>
        let picture_data = "\
iVBORw0KGgoAAAANSUhEUgAAAfEAAAIGCAYAAABETbZBAAAACXBIWXMAAIppAACKaQGxZbMyAAAA\
GXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAAx0RVh0VGl0bGUAZnRjb3B5B5RM\
EQAAABB0RVh0QXV0aG9yAEFub255bW91cyEEdH8AAABgdEVYdERlc2NyaXB0aW9uAE9yaWdpbmFs\
bHkgdXBsb2FkZWQgYnkgRGFubnkgQWxsZW4gZm9yIE9DQUwgMC4xOCB0aGlzIGljb24gaXMgcGFy\
dCBvZiB0aGUgZmxhdCB0aGVtZacjPbwAAAAhdEVYdENyZWF0aW9uIFRpbWUAMjAxMS0wMS0zMVQw\
MjowMToyNs2Bgy4AAABAdEVYdFNvdXJjZQBodHRwczovL29wZW5jbGlwYXJ0Lm9yZy9kZXRhaWwv\
MTEyMjk3L2Z0Y29weS1ieS1hbm9ueW1vdXM7pUVtAAAAWHRFWHRDb3B5cmlnaHQAQ0MwIFB1Ymxp\
YyBEb21haW4gRGVkaWNhdGlvbiBodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9wdWJsaWNkb21h\
aW4vemVyby8xLjAvxuO9+QAAIABJREFUeJzs3XlwVFeCLvjv3EylUsrULqEdkGSlEGax2AwGU8hg\
uwAJ7PZS3qBc7uqOefN6IrpjYqJ74nXM87x53S/qdXW5yt1VXT3lmqpylbHLLm9IgI03bAyIVcis\
ElpAEtq3lJRSpjLz3vkDS80m0JKZ597M7xehQGjJ81kW+eVdzjkCEjz22GOJXq/3fiHEAk3THEII\
h6ZpWUIIG4D4b99MMrIRUdjzAxgEMKhpmksI0aZpWp0Qok7TtItRUVFHP/jggwHZIYmmQoRikKee\
eso0Ojq6AcAjAEoBLANLmoj0ya9pWrUQ4gtN0/bHxsZ+8c477/hlhyK6naCW+NatWxcJIXYCeA5A\
djDHIiIKkjZN03Zpmvb63r17z8gOQ3S9oJR4eXn5Ok3T/hZAWTAen4hIBk3TDgkhflRZWVkhOwsR\
EOASLysr2yiE+AdN0+4P5OMSEemJEOKopmn/pbKy8jPZWSiyBaTEH3300cyoqKgfAXghUI9JRGQA\
lUKI/1xRUdEsOwhFplnfXFZeXv6/KoryIYCVYIETUWRxAPihw+EYrKurOy47DEWeGZfu5s2b400m\
0/8L4HsBzENEZEiapn0I4Ad79uzpl52FIseMSnzLli33KYryHoC8AOchIjKyJkVRnti9e3e17CAU\
GaZd4mVlZRuEEB9ompYQjEBERAY3rGnak3v27PlYdhAKf9O6Jl5eXr4dwAcA7MGJQ0RkeBYhxNOF\
hYX1ly5dOis7DIW3KZd4WVnZkwDeAWAJXhwiorBgEkL8WVFR0cW6urpzssNQ+JrS6fStW7eWCiH2\
AYgOch4iorAhhPCqqlrOU+sULHct8W3btpWoqnoA1zYlISKi6RkSQmyoqKg4JTsIhR/lTp/ctGlT\
gqqqfwILnIhopuJUVX33scceS5QdhMLPHUs8Ojr63wDkhygLEVFYEkLM9/l8vwcXxKIAm/TGtq1b\
t/4nIcTfhTIMEVEYczgcjp66urpjsoNQ+Ljtq8ItW7ZkmEymi5wLTkQUUCOqqi7cu3fvFdlBKDzc\
9nS6oig/ZYETEQVcrBDif8oOQeHjliPx8vLyhzRN4/Z6RERBomnaw3v27PlUdg4yvluOxFVV/W8y\
ghARRQohxD/IzkDh4YYSLy8vf0gIsVZWGCKiCLFq69atm2SHIOO7ocQ1TfsvsoIQEUUSIQSfb2nW\
Jq6Jb926dZEQ4ozMMEREkURV1ZK9e/eelp2DjGviSFwIsVNmECKiSGMymV6QnYGMTQGAl19+WQHw\
rOQsREQRRdO0FzZs2GCWnYOMSwGAEydOlALIkZyFiCjSpMfHx5fKDkHGNX46/RGpKYiIIpSqqg/L\
zkDGpQCApmkPyQ5CRBSh+PxLMyYee+yxRJ/P14M7bIYSClarFUVFRcjOzobNZpMZhYjC3MjICFpa\
WlBXVwe32y07jur1etM+/vjjPtlByHjMXq/3fiGEtAI3m8148MEHsWbNGlgsFlkxiCjCrFy5EmNj\
Y6iqqsJXX30Fn88nK4oSFRW1GsBeWQHIuBQhxAJZg8fGxuIHP/gBvvOd77DAiSjkLBYL1q9fj5de\
ekn2GUBpz8NkbIqmaQ4ZA5vNZjz//PPIzs6WMTwR0YSsrCw899xzMJvlzPaS9TxMxqcIIaT88qxf\
v54FTkS6kZ2djfXr10sZWwhRJGVgMjxF07SsUA9qtVqxevXqUA9LRHRHa9asQUxMjIyhM2QMSsan\
CCHiQj1oUVERr4ETke5ERUWhqEjKQXG8jEHJ+BQA9lAPytPoRKRXOTlSFq8M+cEUhQdFCBHyErfb\
Qz4kEdGUxMVJ6VPbt3tYEE2LomlaVKgHNZmkritDRDQpSc9PSkVFBZ8Yadr4yo+IiMigWOJEREQG\
xRInIiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIy\
KJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGR\
QbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGRQbHEiYiI\
DIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGRQbHEiYiIDIolTkRE\
ZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIi\
IoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMR\
ERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yI\
iMigWOJEREQGxRInIiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJE\
REQGxRInIiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRIn\
IiIyKJY4ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4\
ERGRQbHEiYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKJY4ERGRQbHE\
iYiIDIolTkREZFAscSIiIoNiiRMRERkUS5yIiMigWOJEREQGxRInIiIyKLPsAETTMTQ0hJ6eHvT1\
9aGnpwdDQ0MYGxuD1+uFx+ORHY/CgKzfo8zMzKqysjJNyuA0VU4ALgAuTdNahRB1375d3L17d6eM\
QCxx0rXh4WE0NDTg8uXLaGpqwsDAgOxIRMGyTHYAmjohBABA0zRomoby8vIGTdO+EEJ8bjabP3v/\
/fe7QpGDJU664/P5UFtbi5qaGtTX10NVVdmRiIjuSNO0AgAFmqb90Ov1qlu3bj0C4PXY2Nhd77zz\
znCwxmWJk24MDg7i0KFDqK6uxtjYmOw4REQzpQgh1gJYOzo6+k/l5eW/EkL8ZPfu3W2BHoglTtIN\
DAzgyy+/xDfffAO/3y87DhFRIMVrmva/a5r2V2VlZb8xmUz/+OGHH7YE6sFZ4iSN3+/H8ePH8fnn\
n/PIm4jCXTSA/8Xv9+8sKyv7J7/f/z/27ds367soOcWMpGhqasIvfvELfPTRRyxwIooksQD+q8lk\
qi4vL1832wdjiVNIaZqGAwcO4PXXX0dvb6/sOEREshRrmnagrKzs5ZdffnnGXcwSp5AZGhrCb3/7\
Wxw4cACaxumwRBTxTAD+6/Hjxz/avHlz2kwegCVOIdHf34/f/OY3uHLliuwoRES6IoR42GQyHd22\
bds90/1eljgFXVtbG1577TX09fXJjkJEpFd5qqoe3LZtW8l0voklTkHV2tqK3/72t3C5XLKjEBHp\
XYamaV+Ul5dPefU+ljgFTW9vL958803efU5ENEWapiVomvbRtm3biqby9SxxCorBwUH87ne/4xE4\
EdH0pamqunfLli0Zd/tCljgFnN/vx1tvvYXBwUHZUYiIjCpfUZR3NmzYcMdF2VjiFHCffvop2toC\
vkQwEVGkWWe32//bnb6AJU4BVVtbi6qqKtkxiIjCxd9u3br10ck+yRKngPF4PKisrORCLkREgaMI\
IV576qmn7Lf9ZKjTUPj6/PPPMTQ0JDsGEVG4yXG73X9/u0+wxCkgOjo6cPz4cdkxiIjCkqZpf7N1\
69bimz/OEqeA+PTTT6GqquwYREThyiKE+H9u/iBL/DZcLhdcLhcXKZmijo4ONDQ0yI5BRBTu/mzr\
1q2Lrv/AHeefRQJN03D+/HnU1NSgvr4eXV1d8Hq9E5+32WyYN28eHA4HVq1ahZSUFIlp9enLL7/k\
zWxERMEnFEX5WwA7Jj5QVlYW8mffZ599FkVFU1pRLmj8fj8OHjyIjz76CP39/VP6HiEEFi1ahPLy\
csybNy/ICY2hv78fr776KkuciCg0fH6/P2/fvn2tQIQeibe0tOC3v/0tWltbp/V9mqbhzJkzOHfu\
HEpLS/H4448jKioqSCmNoaamhgVORBQ6ZpPJ9ByA/wlE4DXxEydO4Ec/+tG0C/x6qqris88+w49/\
/OOIX1r0zJkzsiMQEUUUTdO+P/5+RJX4qVOn8Nprr91wzXs2Ll++jB//+McROze6paUFvb29smMQ\
EUUUIcTCLVu23AdEUIk3NDTgtddeC/ip387OTvziF7+A3+8P6OMawaVLl2RHICKKSEKILUCElLjH\
48GvfvWroBVtY2MjKisrg/LYetbU1CQ7AhFRRBJClAIRcmNbZWXllO9An6n9+/dj3bp1ETMFbWxs\
TDc7laWmpiItLQ1WqzXibzQkouDwer0YHR1FV1cX+vr6ZMcBgLWbN2+ODvsSHxkZwYEDB4I+js/n\
Q0VFBV588cWgj6UHra2t0i8hFBQUYMWKFUhMTJSag4giS19fH06cOCH7bGSM2WxeGfan0w8dOhSy\
ldeOHTsWMTd69fT0SBvbZDJh06ZN2LRpEwuciEIuOTkZjzzyCEpLS6Eo8mpU07TisC/xU6dOhWws\
v9+PTz75JGTjySSrxIUQ2LhxIwoKCqSMT0Q0zuFwoLS0FEIIKeMLIYrCusTHxsZCfrrj0KFDETHl\
TNYZh3vvvRd5eXlSxiYiutk999wDh8MhZWxN0xxhXeJtbW0hX01sbGwMn3/+eUjHlMHpdIZ8TJPJ\
hOXLl4d8XCKiO1m5cqWs0+pzw7rEZa2m9uWXX8Lj8UgZO1Rk7PA2f/58WK3WkI9LRHQnNpsNubm5\
MoaOC+sSl1WkLpcLX375pZSxQ0XGzzYjIyPkYxIRTUVmZqaMYcO7xKOjo6WN/cknn8Dn80kbP5g0\
TZNyJG6320M+JhHRVMTFxckYNj6sS1zmk/7g4CAOHz4sbfxgUlVVys5lJpMp5GMSEU2FpGvi0WFd\
4snJyVLH37dvX9gejRMRkXxhXeIJCQmwWCzSxu/r68ORI0ekjU9EROEtrEtcCCF9LfO9e/fyaJyI\
iIIirEscAObMmSN1fB6NExFRsIR9iaempsqOwKNxIiIKCpZ4CPT19aGqqkp2DCIiCjNhX+JpaWmy\
IwDg0TgREQVe2Je4Ho7EgWsbhnz99deyYxARURgJ+xJPS0uTut/r9fbu3Rv2a6oTEVHo6KPdgshs\
NiMhIUF2DADXdv6KhB3OiIgoNMK+xAH9nFIHrq2p7nK5ZMcgIqIwEBElLml3mdtyuVzYv3+/7BhE\
RBQGIqLE9baF5WeffYb+/n7ZMYiIyOAiosSzsrJkR7iB1+vFvn37ZMcgIiKDi4gS19Pp9HEHDx5E\
e3u77BhERGRgEVHiiYmJiImJkR3jBqqq4r333pMdg4iIDCwiShzQ33VxAPjmm29w4cIF2TGIiMig\
IqbE9XhKHQDeffddaJomOwYRERkQS1yylpYWblVKREQzEjElnp6eLjvCpN577z0ux0pERNMWMSWu\
t2lm1xsaGsLHH38sOwYRERlMxJR4SkoKrFar7BiT2r9/Pzo7O2XHICIiA4mYElcURddH416vF+++\
+67sGEREZCARU+IAMG/ePNkR7qimpgZnz56VHYOIiAwioko8JydHdoS7+uMf/wiv1ys7BhERGQBL\
XGe6urrw6aefyo5BREQGEHElrij6/0/et28fdzkjIqK70n+jBZDZbNbtoi/X83g8+OMf/yg7BhER\
6VxElTgA5Obmyo4wJdXV1Th9+rTsGEREpGMRV+Jz586VHWHKdu3ahdHRUdkxiIhIpyKuxI1wc9s4\
p9OJ3bt3y45BREQ6FXElnpuba4ib28Z98cUXuHLliuwYRESkQ8ZpswCJjY3V9WYoN9M0Da+//jr8\
fr/sKEREpDMRV+IAkJ+fLzvCtLS2tuKTTz6RHYOIiHQmIkt8/vz5siNMW0VFBdra2mTHICIiHYnI\
EjfakTgA+Hw+vP7669A0TXYUIiLSiYgs8ezsbF1vSzqZpqYm7N+/X3YMIiLSiYgscSGE7nc0m0xF\
RQXa29tlxyAiIh2IyBIHgIKCAtkRZsTr9eJ3v/sdT6sTEVHklnheXp7sCDPW1NSEffv2yY5BRESS\
RWyJG/EO9etVVFSgqalJdgwiIpIoYks8Pj4ec+bMkR1jxlRVxW9+8xt4PB7ZUYiISJKILXEAKCws\
lB1hVjo7O/HOO+/IjkFERJJEdIk7HA7ZEWbt4MGDqKmpkR2DiIgkiOgSX7BggewIAfH73/8eg4OD\
smMQEVGIRXSJJyYmIi0tTXaMWRsaGsKvfvUrTjsjIoowEV3iQHicUgeAuro6TjsjIoowEV/iRUVF\
siMETEVFBS5cuCA7BhERhQhLPIxKXFVV/PrXv+b1cSKiCBHxJZ6YmGjo+eI3Gxoawu9+9zuoqio7\
ChERBVnElzhg/PniNzt79iyvjxMRRQCWOICFCxfKjhBwlZWVOHfunOwYREQURCxxAMXFxRBCyI4R\
UOPXx7u6umRHISKiIGGJA7DZbMjPz5cdI+BcLhd++ctfcn11IqIwxRL/VjieUgeAq1ev4ve//73s\
GEREFAQs8W8tXrxYdoSgOX78OPbv3y87BhERBRhL/Fu5ubmIj4+XHSNo3n//fXzzzTeyYxARUQCx\
xL+lKAqKi4tlxwgaVVXx2muvobW1VXYUIiIKEJb4dcL1uvg4j8eDf/u3f+OKbhRyw8PDqK+vx4kT\
J/D111/j6NGjqK2tRXd3t+xoRIZmlh1ATxYuXAhFUcJ6tbOenh788pe/xN/8zd8gKipKdhwKY4OD\
gzh16hTOnj2Lnp6eSb/OZrOhuLgYJSUlyM7ODmFCIuNjiV8nPj4e8+fPR2Njo+woQdXQ0IDXX38d\
L730UtjNjyf53G43PvvsM5w6dQp+v/+uX+9yuXDixAmcOHEC99xzDx599NGw2CKYKBRY4jcpKSkJ\
+xIHgGPHjiExMRFPPPGE7CgURpqamvDee+9haGhoRt9fX1+Py5cvY+PGjVizZk2A0xGFH14Tv8nS\
pUtlRwiZ/fv348CBA7JjUJioqanBH/7whxkX+Difz4ePP/4Yu3fvhqZpAUpHFJ5Y4jdJT09HZmam\
7Bgh89Zbb6G6ulp2DDK4c+fO4YMPPpjS6fOpOnXqFCorKwP2eEThiCV+GyUlJbIjhIymafj1r3+N\
hoYG2VHIoLq7u/HBBx8E5aj55MmT+PLLLwP+uEThgiV+G5FU4gDg9Xrxr//6r2hpaZEdhQxG0zS8\
99578Hq9QRvjwIEDqKmpCdrjExkZS/w2cnNzkZKSIjtGSI2MjOBnP/sZdz2jaTl9+jTa29uDOoam\
adi9e3dE3HBKNF0s8dsQQuC+++6THSPkhoaG8Morr6C/v192FDIATdNw+PDhkIzl9/vx9ttv80Um\
0U1Y4pOItFPq4/r6+vDKK69wVTe6q9bW1pCuuOZ2uwNy9ztROGGJT+Kee+5BYmKi7BhSdHZ24mc/\
+xmGh4dlRyEdq62tDfmYg4ODeOONNzA2NhbysYn0iCU+CSEEli9fLjuGNK2trfjpT3/KIqdJydpM\
p6OjA++8805YL49MNFUs8TtYtWqV7AhStbS04JVXXoHL5ZIdhXToTuuhB9ulS5dQUVEhbXwivWCJ\
38H8+fORnp4uO4ZUra2t+MlPfsIip1uMjo5KHb+6uhpfffWV1AxEsrHE72LlypWyI0jX2tqKV155\
hTcU0QS/3x/Q1dlm6osvvsA333wjOwaRNCzxu4j0U+rjWlpa8M///M8YGBiQHYVogqZp+PDDD9HU\
1CQ7CpEULPG7SE9Px7x582TH0IX29nb80z/9U0inFRHdjd/vx1tvvYXOzk7ZUYhCjiU+BTwa/w89\
PT34yU9+Ap/PJzsK0QSPx4M33niD6xtQxGGJT8GqVaugKPxRjXM6nejr6+NcXdKVwcFB7Nq1i7+X\
FFHYTFMQHx+PRYsWyY6hK36/H319ffB4PLKjEE3o6OjA22+/zTnkFDFY4lO0bt062RF0R9M09PX1\
SZ9qRHS9+vp67NmzR3YMopBgiU/R4sWLI3YZ1rsZGBjgym6kKydPnuQccooILPEpUhQFa9askR1D\
t4aGhuB0OmXHIJrAOeQUCVji0/DAAw9ACCE7hm6NjIygt7cXmqbJjkI0sQ/55cuXZUchChqW+DTM\
mTMHhYWFsmPo2tjYGLq7uzkFjXTB5/PhzTff5BxyClss8WmSfYOb1WrV/XQ3v9+P3t5e3rlOuuDx\
ePDmm29y2WAKS/puAx1atmwZYmNjpY3v8XiwYMEC3Z/WV1UVfX19vOGNdGFgYABvvvkm55BT2GGJ\
T1NUVJTUo3FN0zAyMoKlS5fqvsiBaze89ff38zo5SdfW1sY55BR2WOIzsGHDBqkF2tLSgrS0NNx7\
773SMkyH2+1GT08Pr5OTdJxDTuGGJT4DKSkpuO+++6SN7/f70djYiPnz56OoqEhajunw+Xzo6enB\
yMiI7CgU4U6ePImvv/5adgyigGCJz9DGjRuljn/58mV4PB4UFhaioKBAapap0jQNTqcTTqeTp9dJ\
qs8++wxnz56VHYNo1ljiM1RYWIjc3Fxp4/v9fly6dAkAUFxcjPz8fGlZpmtkZISn10kqTdPwwQcf\
cA45GR5LfBZKS0uljt/c3DyxbvnChQsNc0QOXDu93t3dDZfLxaNyksLn83EfcjI8lvgsrFq1CvHx\
8dLGV1V14mgcuHZEbqQiB65tH9nf3887hkkKt9uNN998k1MhybBY4rMQFRWFtWvXSs3Q0tICl8s1\
8fcFCxZg/vz58gLNgMfjQVdXF9xut+woFIEGBga4DzkZFkt8lh566CFYLBZp42uahtra2om/CyFw\
7733Ii8vT1qmmdA0Df39/TwqJyna2trwpz/9iZd2yHBY4rMUHx+PBx54QGqGtrY29Pf3T/x9vMiL\
i4slppoZt9uNrq4uTkWjkKurq0NlZaXsGETTwhIPgEceeQQmk0lqhvPnz99yFFFQUGDIIh+fitbX\
1we/3y87DkWQkydP4tChQ7JjEE0ZSzwAUlJSsGLFCqkZ+vv70d7efsvHCwoKsGTJEkMs0Xozj8eD\
7u5uDA8P8zQnhcynn36Kmpoa2TGIpoQlHiCbN2+WXpQXL1687fXkuXPnGmat9ZtpmoahoSH09PTc\
9kUKUaBpmoaKigpcuXJFdhSiu2KJB0hmZiYWL14sNcPIyAiamppu+7mcnBzcf//90k/7z5TP58Pe\
vXuxa9euG67/EwXD+Bzynp4e2VGI7oglHkCbN2+WHQGXLl2adKpWamoq1qxZI/Vu+tmqq6vDz3/+\
c3z22WecEkRBNTo6ijfeeOOGKZxEesMSD6D8/HzpO4v5fD6cP39+0s8nJiZi7dq1UvdEny2fz4eD\
Bw/iX/7lX3Dy5ElOSaOg6e/vxxtvvAGv1ys7CtFtscQDbPv27dKvPbe1taGrq2vSz9tsNqxbtw4J\
CQkhTBV4Q0NDqKiowM9//nOcO3eON79RULS1teGdd97hi0XSJZZ4gM2bNw9Lly6VHQPnzp2745OO\
xWLBmjVrkJ6eHsJUwdHb24t33nkHr732Gurq6ljmFHB1dXX46KOPZMcgugVLPAi2b98ORZH7o3W5\
XKivr7/j15jNZqxYsQIOhyNEqYLr6tWr2LVrF375y1+ipqaGZU4BdezYMRw+fFh2DKIbsMSDICsr\
C8uWLZMdA/X19Xe9KUcIAYfDgaVLl0p/4REonZ2deP/99/GLX/wCNTU1PA1KAfPJJ5/g3LlzsmMQ\
TQiPZ20d2rZtm/RSVFUVp0+fntLX5ubmGv7O9Zt1d3fj/fffx6uvvoqqqiruX06zpmka3n//fTQ3\
N8uOQgSAJR406enpWL16tewY6O/vn3Tu+M2SkpKwbt06qdurBsPAwAA++ugjvPrqqzh48CCnDNGs\
+Hw+vPnmm+jt7ZUdhYglHkxlZWWIioqSHQMXL16ccnHFxsZi7dq1yMrKCnKq0BscHMRnn32Gn/zk\
J/jTn/7EFbloxjiHnPTC5HA4Xg71oIsXL0Zqamqohw252NhYeL1eXLp0SWqO8Q1F5s6dO6WvVxQF\
mZmZiI6ORnd3d5DThZ6maejq6sLp06dx5swZeL1epKWl6eIFl1FomoavvvpKdgypRkdHcfnyZSxe\
vNiwKyFS4AwMDKChoSHk4/JIPMi++93vIi4uTnaMaZ1WHzdv3jzcf//9YXWd/Ga9vb349NNP8dOf\
/hR79uxBa2ur7EhkIG1tbXjvvfc4E4Kk4ZF4kJnNZlitVpw5c0Z2FPT19SEjIwPR0dFT/p7Y2Fhk\
Z2djYGAAo6OjQUwnl9/vR1tbG06dOoWamhq4XC7ExcXBZrPJjqZLPBL/Dz09PXC73SgsLJQdhSSS\
dSTOEg+BuXPnorq6GkNDQ1JzaJqG/v5+5ObmTmtVObPZjJycnInvD3dutxvNzc04fvw4Ll68CI/H\
g4SEBFitVtnRdENWiaekpOjyxeTVq1cRHR2N3Nxc2VFIEpZ4GBNCIC0tDUePHpUdBR6PBz6fD3Pm\
zJnW9wkhkJqaiuTkZHR3d8Pv9wcpob4MDw+jsbERR48eRUNDA0ZGRmCxWGC322VHk0pWiS9ZsgQm\
kwlOpzPkY99NY2Mj0tPTkZaWJjsKScASD3NpaWloamrSxY1iAwMDSExMnNGp4tjYWOTk5GBwcBAj\
IyNBSKdfg4ODaGxsxIkTJ3Dq1KmJbSrj4+Mj7sYmWSWek5ODvLw8OJ1OXd4ZXltbi7y8PMPvS0DT\
xxKPAHl5efj66691sYJYd3c3cnJyYDabp/29ZrMZ2dnZiIqKQm9vb0Te1OPxeNDe3o6zZ8/iyJEj\
aG5uxvDwMIQQsNls0hf6CTaZJW6z2ZCRkYGuri54PJ6QZ7gTVVVRW1uLBQsWGHqnQJo+lngEsNls\
8Pl80qecAdeVUewRAAAgAElEQVRu5HI6ncjJyZnRrmtCCCQlJSEzMxN9fX26ezINJVVV0dfXh4aG\
Bpw6dQpHjhxBU1MT+vv7oWkabDZb2B2pyy5xRVGQnp6OtrY23a3E5/V6UV9fj0WLFoX1zA66EUs8\
QuTn5+P48eO6OBU9OjoKVVVndQ3PYrEgNzcXqqpiYGAggOmMa/xnceXKFdTU1ODQoUO4ePEirl69\
CqfTCb/fD6vVOqOzIHohu8SBa2eE0tLScPXqVV2c3bre6OgompubsWTJkrA/K0PXyCpx4z6LGFRU\
VBSeffZZvPrqq7KjAAAaGhqQlJSEjIyMGT+GoigoLi5GRkYGampqMDw8HMCExqeqKtrb29He3n7D\
xxMTE5GRkYE5c+YgNTUVSUlJSE5ONsS0NrfbLTsCACAuLg4rVqzAsWPHdFfkra2tePfdd/H000/P\
6GwX0VSwxCW49957UVJSgurqatlRAADV1dV48MEHZ33HdVJSEtavX4+6ujo0NDRE5LXy6RgYGMDA\
wAAuXrx4w8ctFguSk5ORnJyMhIQExMfHIzY2FnFxcbDb7bDZbEEt+rGxMQwNDcHlcmFoaAjDw8Nw\
Op0Tefv7+3U1zSs1NRVLliyZ8mY/oXThwgV8/PHH+O53vys7CoUplrgkzzzzDC5cuKCLIxq/348T\
J07gwQcfnPW1W0VRsGDBAmRmZqKmpgaDg4MBShk5xsbG0NHRgY6Ojkm/xmQywWKxwGq1Ijo6GlFR\
UYiKikJMTAyEEJPOadc0beJ3zuv1wufzwe12w+PxwO12w+12G3L6YE5ODkZHR1FbWys7yi2qqqqQ\
kJCANWvWyI5CYYglLkliYiK2bduGt99+W3YUANfmQ586dQorV64MyOMlJCTgwQcfRGNjI+rq6gxZ\
DHrm9/sxOjqqqyNi2QoLCzEyMoKWlhbZUW6xf/9+JCQkYOHChbKjUJjhHRcSlZaW6mqpxs7OTpw/\
fz5gjyeEQEFBAUpLS5GZmRmwxyWazJIlS3S52IqmaXjvvfd0+QKDjI0lLpGiKNi5c6euds9qbGwM\
+BadVqsVy5cvx8qVKxETExPQxya6nhACK1asQHx8vOwot/D5fNi1axf3IaeAYolLNmfOHGzfvl12\
jBucPXt2YjWyQEpPT8eGDRvgcDg47YaCxmQyYdWqVbp8wTg6Ooo//OEPulxtjoyJz6Q6sGnTJuTn\
58uOMUHTNJw8eTIoU8VMJhMcDgdKS0uRlZUV8McnAq6d/Vm1apUu5+L39/fjrbfe0t0iNWRMLHEd\
EELgxRdf1NVpda/Xi6qqqqDdOBUTE4Nly5bhgQce4DrTFBTjc8j1OEe7paUF7777Lqdh0qyxxHUi\
PT0djz32mOwYN3C73aiqqsLY2FjQxkhOTsa6deuwbNkyrjVNATc+h1yPxueQE80GS1xHHnroISxY\
sEB2jBu4XC5UVVXB6/UGbQwhBLKyslBaWorFixcjOjo6aGNR5MnNzYXD4ZAd47aqqqp0sUUxGRdL\
XEcURcEPfvAD3e1VPTg4iJMnTwZ9WUshBObNm4fS0lIUFRVx8wgKmMLCQuTm5sqOcVsfffTRLav2\
EU0VS1xnEhMTsXPnTt1dx+vp6cHx48dDsj612WxGYWEhHnroISxcuJBH5jRrQggsWbJElxsvaZqG\
d999F62trbKjkAGxxHVo6dKl2LBhg+wYt+ju7saJEydCttGE2WxGfn4+Nm7ciPvuu88QG4NQcM1m\
WWAhBFauXKnLOeRer5dzyGlGWOI69eSTTyI7O1t2jFt0dXWF5NT69RRFQU5ODjZs2IClS5eyzCPY\
bKeMjc8hn2xteZlGRkawa9cuLqVL08IS1ymz2Yy/+Iu/0NW0s3GdnZ0hL3Lg2pFUbm4uSktLsWzZ\
MsTFxYV0fJIvEC/g9DyHvLe3F7t27eIccpoylriOZWZmYseOHbJj3FZnZyeOHTsmbWOTrKwsrF+/\
HqtXr0ZGRobu7iGgwIuPj5/1LnvXP9by5ct1+XvT0tKC999/n3PIaUpMDofj5VAPunjxYl3eYKJH\
OTk5GB4exuXLl2VHucXIyAh6e3uRmZkZsCfX6RBCIDY2FllZWZg7dy7MZjOGh4e5Y1qYmjt3bkCf\
N2w2G2JiYtDZ2RmwxwyU7u5ueL1eFBQUyI5CUzQwMICGhoaQj8sSN4CFCxeitrYWfX19sqPcwu12\
o6urCxkZGVJPT5rNZqSkpKCgoAAJCQkYGxvDyMiItDwUeEuXLg34tMPx1QL1eENZS0sLYmJikJOT\
IzsKTYGsEufpdAMwmUz44Q9/qNtrwENDQzhy5IhuNnVIT0/H6tWrsWHDBsyfP1+X1z5petLT04N2\
Q2NhYaFui/Kjjz5CbW2t7BikYyxxg0hKSsJf/uVf6nb3L5fLhUOHDqG/v192lAl2ux2LFi3CI488\
guXLlyMjI0O3Pz+anKIoWLhwYdAeX+9zyP/0pz/h6tWrsqOQTvF0uoGkpKTAarXi/PnzsqPclt/v\
x9WrV2G323V11kAIgbi4OGRlZSEvLw82mw2qqvJ0u0EsWLAA6enpQR1DCIGMjAx0dnYGda+AmVBV\
FbW1tVi4cKEut1ela3hNnKYkPz8fTqcTzc3NsqPclqZp6OjogMlkQnJysuw4t1AUBQkJCcjJycH8\
+fMRExMDr9cLt9stOxrdRlZWFhYuXBiSu8gVRUFGRgba2tp0N8XL6/Wivr4eS5Ys0eW0U2KJ0zTc\
e++9aGhoQE9Pj+wok+rp6YHL5UJ6eroup/EA1+41SExMxNy5c5GTkzNxzXV0dJTTe3QgIyMDJSUl\
Ib0EYjabkZqaitbWVt39DoyOjqK1tRWLFy/mZSEdYonTlCmKgqVLl6KmpgbDw8Oy40xqaGgIXV1d\
mDNnju6PHqKiopCYmIjs7Gzk5+cjKSkJZrMZHo9Hd0dl4U4IgYKCAixZskRKWUVHRyMxMRFtbW0h\
H/tunE4n+vr6UFxcrNsXx5GKJU7TEhUVhUWLFuHYsWO6u4Z3PY/Hg6tXryIpKckw1/MURYHdbkd6\
ejry8/ORkZGBmJgYqKoKj8ejuyO0cBIfH48VK1YgNzdXaknpeQ55V1cXfD4f55DrDEucps1msyE/\
Pz9ku4vNlN/vR2trK0wmE5KSkgx3BBEdHY3k5GTk5uaioKAAqampsNvtEEJgbGxM1z97I1AUBenp\
6SguLtbVzVsJCQnQNE2X6zO0tLTAZrPpcn+FSCWrxDmB1uAKCwvx53/+5/j3f/93XR8hapqGCxcu\
oKenByUlJYbdK1xRFKSkpCAlJQX33HMPgGv7rff19U288Sa5OxtfmCctLQ1xcXFISkrS7TVeh8OB\
kZERXU7x2rt3L+Lj41FUVCQ7CknEI/EwkJmZifj4eJw5c0Z2lLsaf0JMTEzUzRHXbI1fQ83MzER+\
fj7mz5+PtLQ0xMfHw2KxTByxRyKTyYSEhATMmTMH8+fPR3FxMYqLi5GdnY3ExETExsbq+syMEALp\
6eno6+vT5e5idXV1yM/P1+X2qpGGR+I0K+vXr8fw8DA+/PBD2VHuyu124/DhwygsLITD4dD1k/hM\
WCwWpKam3vBCVVVVDA8Pw+l0wuVyweVyYWRkBC6XKyxunFMUBXFxcbDb7YiPj594PyYmxvD/fxVF\
wYoVK3Do0CHd3Ug6NjaGN998Ez/84Q+RmJgoOw5JwBIPI1u2bMHg4CC++OIL2VGm5NKlS+jq6kJJ\
SQnsdrvsOEGlKAri4+Nve8Q0NjZ2Q6mPjo5ibGwMHo8HbrdbF9fdLRYLoqOjYbVaYbVaERMTg9jY\
2Im36Ohow5f1nURFReH+++/HoUOHdHe5ZHh4GG+88QZeeumlsDm7RVNnBuABEB3KQcPhyEOvnn76\
aQwPD+P48eOyo0yJ0+nEV199haKiIuTn54d1EUzGYrHAYrEgKSlp0q8ZGxubKPaxsTH4fD74/X74\
/X54vd6Jv9/8b8vv99/wAsBkMkFRFAghJqb9mUwmmEwmREVFTbyZzWZERUUhOjo67At6qmJiYrBq\
1SocOnRIdzvldXd3449//CNeeOEF7hUQYcwAhhHiEnc6naEcLqIoioKXXnoJPp8P1dXVsuNMiaqq\
uHDhAjo6OrB06dKwPyqfifGi589GrvEpcMeOHdPdjaSXL1/GBx98gCeeeIIvuiKIqbCw8D8JIUJ6\
McVsNmPx4sWhHDKiCCFQUlKCtrY2dHR0yI4zZW63G83NzVBVFcnJyXwiIl2y2WywWq26nUPu9/uR\
n58vO0rEkTZPfMGCBX8OILi7C9zE6XSipKQE0dEhPQEQURRFwX333YfW1lZdPtlMZnxebltbG+Lj\
4xEbGys7EtEt9DyHvLm5GYmJicjIyJAdJaLIXOxlCwBHKAcdX/mK8xuDS1EULFu2zHBFDlzb8KG1\
tRXDw8MTS6AS6UlKSgpGRkYwNDQkO8otGhoaUFRUxMsvISSzxFcAWBPqgTs6OpCamoo5c+aEeuiI\
oigKSkpKDFnkwLX1169cuQIAhlztjcKXnueQq6qKjo4OlJSU8N9MiEgr8aKiojwAZSEfGUBtbS0S\
EhJ42ifITCYTli9fjs7OTl1u6nA3mqaht7cXV69ehcViQVxcHJ+YSBfG9yHv6urS3YI+g4ODSE9P\
R1pamuwoEUFaiRcWFsYKIX4Q8pFx7cn54sWLE0flPPUTPONH5Ncf2RqN1+tFR0cHOjs7ERsbO7F1\
KJFMJpMJ6enpaGtr093Us8HBQSxbtkx2jIggq8TFhg0brHa7vR+ANeSj3yQtLQ05OTmw2+286S1I\
NE1DdXU1zp07JzvKrKWmpqKoqOiO86uJQsXpdOLIkSO6Wwfjr//6r7maWwhcvnwZH3/8ccjHFQBQ\
Xl7+uaZppSEfnaQZHh7W5Q05M5GWlobCwkIkJyfLjkIRrqurC8ePH9fVHPKtW7di5cqVsmOEPVkl\
rgCAqqrGWKeTAsZutyMhIUF2jIDo7u7G4cOHUVVVhd7eXtlxKILNmTNHd2tgGGmtCJo+BQAURdkj\
OwiFXmxsbFgtqtLT04MjR47g4MGDaGtr09XREEWOuXPnTmxTqwd6nMtOgaMAQEVFxSkAZyVnIQmi\
o6ORmpoKk8kkO0rAOJ1OnDp1Cl988QUaGxt1d42Swl9RUZFubrzU2/Q3Cixl/B0hxBsyg5A8ZrMZ\
qampExtihIuRkRGcP38e+/fvR3V1NQYHB2VHoghx8eJFuFwu2TEAXJuZQuFr4v+uz+f7AwAeskQo\
RVGQnJwMq1X6JIWAU1UVV69exVdffYVDhw6htbWVR+cUNLW1tVKmGk0mHP9N03+YOIdaX18/6HA4\
FgDQ110ZFDJCCMTExEBRFN0tXBEobrcbHR0daGxsxODgICwWC2JiYsLmvgCSq7GxEbW1tbJj3KCw\
sBCFhYWyY4Q9WfPEb1iQWtO0/y6EeAbXHaFT5LHZbDCZTBgYGAjbm8NUVUV7ezva29sRGxuLjIwM\
ZGZmIjExkYVOM3LlyhWcP39edoxbZGVlyY5AQXTD3UyXLl3qcTgc9wEolpSHdMJsNsNqtWJsbAyq\
qsqOE1Rerxf9/f1oaWlBS0sLRkdHJ/77Weg0FVevXsU333wjO8YthBAoLy+HxWKRHSXs6eJIHABU\
Vf07RVG2AOCSaRFu/Ia3gYEBuN1u2XFCwu12o6mpCU1NTYiOjkZmZiYyMjKQnJzMG4Tottrb23H6\
9GldnrUqLCzUzV3yFBy3zCu6dOlSr8PhiAOwVkIe0pnx6+Qmkylsr5NPxu/3Y2BgAK2trWhsbER/\
fz88Hg9MJhMsFguP0gldXV04deqULgscAMrKyrgscYjo5kgcAIQQ/7eqqk8LIeaHNg7pVWxsLCwW\
C/r7+yPyzm6/34+uri50dXUBACwWC1JSUpCamoq0tDTExsZKTkih1t/fj5MnT+r2clNRURHy8vJk\
x6Agu+0KH3V1dV6Hw3FRCPEcvl1fnUhRFMTGxsLv90dkkV/P7/djeHgYXV1daGpqQmtrK/r7+zEy\
MgJN02CxWHj6PYw5nU5UVVXpbteycTExMXjuuee4kVQISdvF7E6fLCsr+0cA/2eIspCBjI6OYnBw\
ULdHIXoQFxeHxMTEiTe73R5WK+NNhaqqcDqdGBwcxMjIyMSLP7PZDJvNhqSkJNjtdkNdmhgaGsLh\
w4fh9XplR7ktk8mEZ599VldLv0YCWRug3PZ0+rjh4eH/y263rwPwYIjykEHExMTAYrHA6XTC4/HI\
jqNLQ0NDGBoaQktLy8THrFYr7HY77HY74uLiYLPZYLfbDb8gh6qqGB4entgdb2hoCMPDw3C5XHe9\
Xmy1WpGdnY28vDzd/xxcLheqqqp0W+BCCGzfvp0FHkHu+vJ3y5YtGYqiHAKQH4I8ZEAulwtDQ0O6\
vbnHCEwmE2JjY2G1WmG1WhETEzPxZ0xMDKKjo2E2m6UcsaqqirGxMYyOjmJ0dBRut3vi/fG/B+KF\
nKIoyMvLQ1FRkS4vRYyOjuLw4cO6XYtcCIGysjIsX75cdpSIJHU/8bvZunVrvhDiEICMIOchg/L5\
fHA6nRF3B3uomc1mREVFwWKxICoqauJ9RVGgKAqEEBNr4JtMptuWvt/vn3jB5fP5oKoqfD7fxPte\
rxdjY2MTf4b6uq/NZsPKlStht9tDOu6deDweHD58WDfrod/OI488ggceeEB2jIil6xIHgG3btpWo\
qvo5gMQg5iED0zRt4lo5j8ppNqKiorBq1SpdTI/yer04fPgwhoaGZEeZ1IYNG7BhwwbZMSKarBKf\
8jmr3bt3Vwsh1gG4GsQ8ZGBCCMTGxiItLU331zZJ37xeL44dO4bh4WGpOXw+H6qqqnRd4KtXr2aB\
R7BpXXiqqKg4Zzab1wGoC1IeCgMmkwlJSUlISkrS5bVNMgav14sTJ05Im8bl9/tx/PhxOJ1OKeNP\
xfLly/Hoo4/KjkESTfsZ9oMPPrjs9/vXAQj9eQMyFKvVijlz5iAuLk52FDKo4eFh1NWF/phBVVWc\
PHkSvb29IR97qoqLi1FWVmao6XkUeDOatFpfXz9SV1f3hsPh6BdCbJzp41D4E0LAYrFwkRiaMafT\
iZycnIkb9oJN0zScOnUKnZ2dIRlvJoqKivDUU0/xTJeOyFrsZTa/AVplZeXPhBClmqbpb/890pXx\
U+zJyckhezKm8KCqKi5fvhySsTRNQ01NDTo6OkIy3kzk5+fjqaeeiriFg+j2Zv0ybvfu3YdcLtdS\
AH8NQL93f5AuREdHIyUlBUlJSTCb77jWENGE1tbWkMx4OH/+PFpbW4M+zkzl5OTgmWee4b8dmhCQ\
l3KXL19W6+rqjhYUFPxeUZRoAEtwl9XgKHIJIWA2mxEbGwtFUeD1ejklje7I7/cjIyMjqLMeLly4\
gMbGxqA9/mxlZmZi586dXA9dp2SdTg/o+Zj6+vrBurq6vXl5ef/ft68UF4H7ktMkxq+Xj+93rNel\
LEkfEhISkJgYnGUq6uvrcenSpaA8diCkpaXh+9//PmJiYmRHoUmERYmPa2hoGK6rq9uflZX1U4vF\
ckwIYRZCOII1HhmbEALR0dETT1DXryhGNM5utyMtLS3gj9vU1IQLFy4E/HEDJTk5GS+++KKuVrCj\
W+lqP/FAOXDggBtABYCKzZs3pymKslEI8RCAUgBcoZ9uYDKZEB8fD7vdjpGREQwPD7PMaUIwZja0\
trbi/Hn93pcbHx+PnTt3cpomTSpk16337dvXDeCtb9/wbakvUBTFoWmaA0A2gDgAdgAJocpFMyIA\
LAvWgyuKArvdjtjYWIyMjMDlcnHLUwr470BbWxtOnz4d0McMJJvNhp07dwbtEgKFB2k3n31b6t0A\
DsrKQDOzfPnyqMzMzKDvdDJe5jabDW63G0II9Pf3B3tYigDd3d26LnCr1YoXXngBqampsqOQzvEO\
ctI9IQRiYmKwefNmjI6O4ujRo2hqauKpdpqRnp4eHD9+XLdndywWC1544QVkZmbKjkIGwBInwxBC\
oKioCEVFRejt7UV1dTVOnjyp2/2dSX8GBgZ0XeAmkwlPP/00cnJyZEchg2CJkyGlpKRg06ZNWL9+\
Pc6cOYOTJ0+ira1NdizSscHBQRw9elTahip3YzKZ8L3vfQ/33MN7fmnqWOJkaBaLBcuXL8fy5cvR\
3d2NmpoaVFdXw+VyyY5GOuJyuXD06FHdrkUghMDjjz8Oh8MhOwoZDEucwkZaWho2bdqE0tJS1NXV\
4ZtvvsGlS5e46UqEGx0dxZEjR+DxeGRHuS0hBLZt24ZFixbJjkIGxBKnsGMymVBcXIzi4mL4fD40\
NDTg3LlzuHjxIsbGgn5TPemI2+3GkSNH4Ha7ZUeZ1MMPP4ySkhLZMcigWOIU1sxm88TNcNcXel1d\
na6f2Gn2xsbGcPToUYyMjMiOMqmHHnoIDzzwgOwYZGAscYoYNxd6Y2Mjzp8/j9raWt7hHma8Xi+O\
Hj2KoSH9bqy4bt06rF+/XnYMMjiWOEUks9kMh8MBh8MBTdPQ3t6OxsZGNDY2orm5mdfRDczv9+P4\
8eNwOp2yo0xq5cqV2LRpk+wYFAZY4hTxhBDIyspCVlYW1q1bB5/Ph+bm5olSb29v58IyBqGqKk6c\
OIG+vj7ZUSa1ZMkSbNmyRXYMChMscaKbmM1m5OfnIz8/HwAwMjKCpqYmNDU1obW1Fd3d3bqdaxzJ\
NE3DyZMn0d3dLTvKpIqLi/H4449DCCE7CoUJljjRXcTGxuLee+/FvffeC+Da6dq+vj5cuXIFzc3N\
aG9vR09PD4/WJdI0DadPn0ZnZ6fsKJPKz8/HE088wQKngGKJE02TyWRCWloa0tLSsGLFCgDXpjJd\
vXoVbW1taG9vR3d3N/r6+njEHgKapuHMmTO4evWq7CiTmjdvHp577jmYzXzKpcDibxRRAFitVhQU\
FKCgoGDiY6qqor+/Hz09PRNv3d3d6Onp4fS2ADp//jyam5tlx5hUdnY2nn/+eRY4BQV/q4iCRFEU\
pKSkICUlBUVFRTd8zuVywel0YnBwcOLPoaEhOJ1OOJ1ODA8P6/oOeUVRdLGJSF1dHZqammTHmFR6\
ejpeeOEFWCwW2VEoTLHEiSSw2Wyw2WzIysqa9GuGh4cxOjoKt9uN0dHRG97GP+bxeCbWAx8/uh8b\
G4Pf74eqqhMr1EVHR9/2WqzFYoHJZILVakVUVBTMZjOsVivMZjNiYmIm3mJjYyfej4+Px/vvv49z\
584F4SczdQ0NDairq5Oa4U5SUlKwY8cOxMTEyI5CYYwlTqRTdrsddrtddgxdamlpwYULF2THmFR8\
fDx27NjB/38UdIrsAERE09Ha2opvvvlGdoxJ2Ww27Ny5E4mJibKjUARgiRORYXR2dqKmpka30/ms\
Vit27NiB1NRU2VEoQvB0OhEZQn9/P9ra2nRb4NHR0dixYwcyMjJkR6EIwhInIkNwuVyyI0zKbDbj\
ueeeQ3Z2tuwoFGF4Op2IaBZMJhO+973vYd68ebKjUARiiRMRzZAQAn/2Z3+GwsJC2VEoQrHEiYhm\
QAiBbdu2TaypTyQDS5yIaJqEENiyZQtKSkpkR6EIxxInIpqmjRs3YuXKlbJjELHEiYim4zvf+Q7W\
rVsnOwYRAJY4EdGU3X///SgtLZUdg2gCS5yIaAruu+8+fPe735Udg+gGLHEiorsoLi7G9u3bb7sT\
HJFMLHEioju455578OSTT7LASZdY4kREk8jLy8MzzzwDk8kkOwrRbbHEiYhuIycnB88++yzMZm4x\
QfrFEiciukl6ejqef/55WCwW2VGI7oglTkR0nZSUFOzcuRMxMTGyoxDdFUuciOhbCQkJ2LlzJ2w2\
m+woRFPCEiciAhAfH48XX3wRCQkJsqMQTRlLnIgiXmxsLHbs2IGkpCTZUYimhSVORBHNarXihRde\
QFpamuwoRNPGEieiiBUVFYVnn30WWVlZsqMQzQhLnIgikslkwtNPP4158+bJjkI0YyxxIoo44wVe\
WFgoOwrRrLDEiSiiCCHw+OOPo6ioSHYUolljiRNRxBBCYOvWrVi0aJHsKEQBwRInoojx8MMPY8WK\
FbJjEAUMS5yIIsJDDz2EBx54QHYMooBiiRNR2Fu7di3Wr18vOwZRwLHEiSislZSUYNOmTbJjEAUF\
S5yIwtbSpUuxbds2CCFkRyEKCpY4EYWlBQsWYPv27SxwCmsscSIKO/n5+XjyySehKHyKo/DG33Ai\
Ciu5ubl45plnYDabZUchCjqWOBGFjYyMDDz//POwWCyyoxCFBEuciMLCnDlz8P3vfx9Wq1V2FKKQ\
YYkTkeElJydjx44diImJkR2FKKRY4kRkaPHx8di5cyfi4uJkRyEKOZY4EU2bXqZt2e12fP/730di\
YqLsKERSsMSJaNr0cN3ZarXihRdeQEpKiuwoRNKwxIlo2uLj46WOb7FYsGPHDmRkZEjNQSQbS5yI\
pi09PV3a2GazGc8//zyys7OlZSDSC5Y4EU3bvHnzYDKZQj6uyWTC008/jXnz5oV8bCI9YokT0bRZ\
rVbk5+eHdEwhBJ588kk4HI6QjkukZyxxIpqRlStXhmwsIQQee+wxFBcXh2xMIiNgiRPRjBQWFmLu\
3LkhGevRRx/F0qVLQzIWkZGwxIloRoQQ2Lx5c9CvjW/atAmrV68O6hhERsUSJ6IZy8zMxMMPPxy0\
x3/wwQexbt26oD0+kdGxxIloVlavXh2UI+W1a9di48aNAX9conDCEieiWXv00UexadOmgCzHKoTA\
ww8/HNQjfKJwYZYdgIiMTwiBdevWIT09HRUVFRgcHJzR4yQmJqK8vBwFBQUBTkgUnljiRBQwhYWF\
+Ku/+iscPXoUVVVVcLlcU/o+u92ONWvWYOXKlbBYLEFOSRQ+WOJEFFAWiwUPPvgg1q5di4aGBtTX\
16O1tRUDAwMTpW6z2ZCUlIScnBwUFBSgoKAAisKre0TTxRInoqBQFAWFhYUoLCyUHYUobPGlLxER\
kUGxxD0lE1QAAAWISURBVImIiAyKJU5ERGRQLHEiIiKDYokTEREZFEuciIjIoFjiREREBsUSJyIi\
MiiWOBERkUGxxImIiAyKJU5ERGRQLHEiIiKDYokTEREZFEuciIjIoFjiREREBsUSJyIiMiiWOBER\
kUGxxImIiAyKJU5ERGRQLHEiIiKDYokTEREZFEuciIjIoFjiREREBsUSJyIiMiiWOBERkUGxxImI\
iAyKJU5ERGRQLHEiIiKDYokTEREZFEuciIjIoFjiREREBsUSJyIiMiiWOBERkUGxxImIiAyKJU5E\
RGRQLHGatvLycj8ALdTj+v3+UA9JRDQlqqqGfEwhhJclTtP28ssvqwBcoR53ZGQk1EMSEU2JyxXy\
p0RomjbEEqcZEUIMhXrMrq6uUA9JRDQlkp6fWOI0M5qmDYd6zCtXrsDn84V6WCKiO/J6vWhubpYx\
NEucZqwt1AO63W6cPXs21MMSEd3R6dOnMTY2JmPoqyxxmhEhRK2McU+ePInu7m4ZQxMR3aKzsxOn\
T5+WMrYQoo4lTjOiqmqdjHF9Ph/27t3LIici6To7O7Fv3z4pd6YDgKZptSYpI5PhLViwIAXAczLG\
9vl8uHTpEoQQSEtLg6LwtSgRhY7X60V1dTW+/PJLqffpaJr2ipA2Ohna448/nuL1ersgea2B6Oho\
zJ07F3PmzEFMTIzMKEQU5kZGRtDZ2Ynm5mZ4vV7ZcXx+vz+FJU4zVlZWdhrAUtk5iIgiUFVlZeUa\
noekGRNCfCE7AxFRJBJCfA5w2VWaBVVVP5KdgYgoEvn9/o8BljjNgsvl+gxAh+wcREQRpnnVqlVf\
AyxxmoUDBw74hBBvyc5BRBRh3vh2DwuWOM2OEOJ12RmIiCKJyWT6w/j7LHGald27d1cDOCg7BxFR\
hNj/4Ycfnh//C0ucZk3TtH+QnYGIKBKoqnrD8y3niVNAlJWVHQOwUnYOIqIwdqSysvKB6z/AI3EK\
CCHE38vOQEQUxjRVVf/u5g+yxCkgKioq9gN4V3YOIqIw9Ye9e/d+dfMHWeIUMH6//68BDMvOQUQU\
Zga9Xu/f3u4T3MWMAqa+vn6wqKjIBWCz7CxERGHkf9u3b9+Xt/sEb2yjQBNlZWXvAnhcdhAiIqPT\
NO3tPXv2fG+yz/N0OgWapmnan2uadll2ECIig7ukqupf3OkLWOIUcHv27OkH8CSAIdlZiIgMakBV\
1Sf27ds3eKcvYolTUOzZs+ekpmnbAXhkZyEiMhi3pmnb9u7de+ZuX8gSp6DZs2fPFwC+D0CVnYWI\
yCD8Qohn9+zZM6XlrHl3OgVVXV3dOYfDcQbAdgBm2XmIiHTMo2na85WVle9N9Rt4dzqFxNatW0uF\
EB8AiJedhYhIhwZUVd1+uwVd7oSn0ykk9uzZ84UQohRAk+wsREQ6U6dp2oPTLXCAJU4hVFFRccrv\
99+nadrbsrMQEemBEOI9s9l8/549e87O6PsDHYhoCkRZWdl/BvCPAOJkhyEiCjUhhFPTtP+jsrLy\
V7N5HN7YRlLU1dUdy8vL+63JZJoDYKnsPEREIVTp9/u37t2798BsH4hH4iRdWVnZRgD/HcBq2VmI\
iILooKqqfz+Ta9+TYYmTbpSXl6/TNO1vAZTJzkJEFCiaph0SQvyosrKyItCPzRIn3dm+/f9v7w5x\
EIaCIIDOfDQBi8NACI40QRMElppiuUqPwgUwXyIwGAQJFvAkSARJTf9fRG9AUijJvAvsujGbneU4\
hLAyszXJ/q/3ERH5wB3A1jm38d6f6xqiEJfGyrKsVRTFDMDCzOYkJ9Adh4g0UwngRHIPYJckySHP\
89q/VSrE5W+kadoNIUzNbAhgBGBAshdjbJPsoHoko5AXkTqUqEqdniRfMcYHyRuAi3PuCuDovf96\
6dMbULx7KsgB344AAAAASUVORK5CYII="
        document.querySelectorAll("button").forEach((e) => {
            e.innerHTML = '<div class="icon"></div>';
            e.innerHTML += " Copy";
        });
        // Generate CSS through JS for legacy reasons (image data already
        // exists in JS space)
        var sheet = document.createElement('style');
        sheet.innerHTML = "button div.icon {\
            width: 20px;\
            height: calc(20/497 * 518px);\
            display: inline-block;\
            vertical-align: middle;\
            background: url(data:image/png;base64," + picture_data + ") center/100%;\
        }";
        document.body.appendChild(sheet);
    </script>
</body>
</html>
